---
import BaseLayout from "src/layouts/BaseLayout.astro";
import client from "@data/client.json";
import CTA from "@components/CTA.astro";
import FAQ from "@components/FAQ.astro";
---

<BaseLayout title="About" description={"About " + client.name}>
  <section id="about-page">
    <h2 id={"About" + client.name}>About {client.name}</h2>
    <p>
      In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan
      nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri
      consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei
      aptent taciti sociosqu ad litora torquent per.
    </p>
    <p>
      In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan
      nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri
      consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei
      aptent taciti sociosqu ad litora torquent per.
    </p>
    <div>
      <p>
        In consequat tincidunt turpis sit amet imperdiet. Praesent Classei
        consequat tincidunt turpis sit amet imperdiet for mind.
      </p>
      <p>Justin Time</p>
      <p>CEO-Founder</p>
    </div>
  </section>
  <FAQ />
  <CTA />
</BaseLayout>
