---
import BaseLayout from "src/layouts/BaseLayout.astro";
import client from "@data/client.json";
import CTA from "@components/CTA.astro";
import FAQ from "@components/FAQ.astro";
---

<BaseLayout
  title="Output Starter Kit"
  description={"Website Starter Kit from " + client.name}
>
  <section id="hero">
    <div class="flex flex-col text-center py-10 px-3 gap-4">
      <h1 id="Output Starter Kit">Output Starter Kit</h1>
      <p>
        Output Starter Kit for use by Output Websites which builds fully-custom
        websites tailored to the unique needs of small and local businesses.
      </p>
      <p>
        Made Using: [Astro v4](https://astro.build), [Astro
        Icon](https://astroicon.dev), [Sitemap Astro
        Integration](https://docs.astro.build/en/guides/integrations-guide/sitemap),
        [Tailwind CSS Astro
        Integration](https://docs.astro.build/en/guides/integrations-guide/tailwind),
        [Autoprefixer](https://npmjs.com/package/autoprefixer), [Decap
        CMS](https://decapcms.org), [Netlify](https://netlify.com)
      </p>
      <a href="/about" class="button-gradient">Explore More</a>
    </div>

    <section id="services" class="flex flex-wrap">
      <div class="card bg-stone-200">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/svgs/service1.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <h2>Service 1</h2>
        <p>
          Talk about the service with keywords people will be searching for it
          by. Keep it 1-2 sentences.
        </p>
      </div>
      <div class="card bg-stone-200">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/svgs/service2.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <h2>Service 2</h2>
        <p>
          Talk about the service with keywords people will be searching for it
          by. Keep it 1-2 sentences.
        </p>
      </div>
      <div class="card bg-stone-200">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/svgs/service3.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <h2>Service 3</h2>
        <p>
          Talk about the service with keywords people will be searching for it
          by. Keep it 1-2 sentences.
        </p>
      </div>
    </section>

    <FAQ />

    <section id="reviews">
      <div class="flex flex-col gap-3">
        <h2 id="Words From Our Customers">Words From Our Customers</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor
          volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque
          gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque,
          leo, ornare. Lorem ipsum dolor sit amet.
        </p>
        <div class="reviews">
          <div class="review">
            <picture>
              <img
                loading="lazy"
                decoding="async"
                src="/assets/svgs/profile.svg"
                alt=""
                width="99"
                height="99"
              />
            </picture>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
              recusandae rerum unde similique ratione sapiente necessitatibus
              natus mollitia nam iusto.
            </p>
            <div class="star-group">
              <p>B Miller</p>
              <p>Homeowner</p>
              <picture>
                <img
                  aria-hidden="true"
                  loading="lazy"
                  decoding="async"
                  src="/assets/svgs/stars.svg"
                  alt="stars"
                  width="91"
                  height="15"
                />
              </picture>
            </div>
          </div>
          <div class="review">
            <picture>
              <img
                loading="lazy"
                decoding="async"
                src="/assets/svgs/profile.svg"
                alt=""
                width="99"
                height="99"
              />
            </picture>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
              recusandae rerum unde similique ratione sapiente necessitatibus
              natus mollitia nam iusto.
            </p>
            <div class="star-group">
              <p>Vincent M.</p>
              <p>Homeowner</p>
              <picture>
                <img
                  aria-hidden="true"
                  loading="lazy"
                  decoding="async"
                  src="/assets/svgs/stars.svg"
                  alt="stars"
                  width="91"
                  height="15"
                />
              </picture>
            </div>
          </div>
        </div>
        <a
          aria-label="Read more reviews"
          href="/reviews"
          class="button-gradient"
        >
          Our Reviews
        </a>
      </div>
    </section>

    <CTA />
  </section>
</BaseLayout>
