---
import BaseLayout from "src/layouts/BaseLayout.astro";
import client from "@data/client.json";
import CTA from "@components/CTA.astro";
---

<BaseLayout title="Reviews" description={"Review for " + client.name}>
  <section id="reviews-page">
    <div class="reviews">
      <div class="review">
        <picture>
          <img
            loading="lazy"
            decoding="async"
            src="/assets/svgs/profile.svg"
            alt=""
            width="99"
            height="99"
          />
        </picture>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
          recusandae rerum unde similique ratione sapiente necessitatibus natus
          mollitia nam iusto.
        </p>
        <div class="star-group">
          <p>B Miller</p>
          <p>Homeowner</p>
          <picture>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/stars.svg"
              alt="stars"
              width="91"
              height="15"
            />
          </picture>
        </div>
      </div>
      <div class="review">
        <picture>
          <img
            loading="lazy"
            decoding="async"
            src="/assets/svgs/profile.svg"
            alt=""
            width="99"
            height="99"
          />
        </picture>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
          recusandae rerum unde similique ratione sapiente necessitatibus natus
          mollitia nam iusto.
        </p>
        <div class="star-group">
          <p>Vincent M.</p>
          <p>Homeowner</p>
          <picture>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/stars.svg"
              alt="stars"
              width="91"
              height="15"
            />
          </picture>
        </div>
      </div>
      <div class="review">
        <picture>
          <img
            loading="lazy"
            decoding="async"
            src="/assets/svgs/profile.svg"
            alt=""
            width="99"
            height="99"
          />
        </picture>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
          recusandae rerum unde similique ratione sapiente necessitatibus natus
          mollitia nam iusto.
        </p>
        <div class="star-group">
          <p>Alex L.</p>
          <p>Homeowner</p>
          <picture>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/stars.svg"
              alt="stars"
              width="91"
              height="15"
            />
          </picture>
        </div>
      </div>
      <div class="review">
        <picture>
          <img
            loading="lazy"
            decoding="async"
            src="/assets/svgs/profile.svg"
            alt=""
            width="99"
            height="99"
          />
        </picture>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
          recusandae rerum unde similique ratione sapiente necessitatibus natus
          mollitia nam iusto.
        </p>
        <div class="star-group">
          <p>Arrieana M.</p>
          <p>Homeowner</p>
          <picture>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/stars.svg"
              alt="stars"
              width="91"
              height="15"
            />
          </picture>
        </div>
      </div>
      <div class="review">
        <picture>
          <img
            loading="lazy"
            decoding="async"
            src="/assets/svgs/profile.svg"
            alt=""
            width="99"
            height="99"
          />
        </picture>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
          recusandae rerum unde similique ratione sapiente necessitatibus natus
          mollitia nam iusto.
        </p>
        <div class="star-group">
          <p>Leo N.</p>
          <p>Homeowner</p>
          <picture>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/stars.svg"
              alt="stars"
              width="91"
              height="15"
            />
          </picture>
        </div>
      </div>
      <div class="review">
        <picture>
          <img
            loading="lazy"
            decoding="async"
            src="/assets/svgs/profile.svg"
            alt=""
            width="99"
            height="99"
          />
        </picture>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
          recusandae rerum unde similique ratione sapiente necessitatibus natus
          mollitia nam iusto.
        </p>
        <div class="star-group">
          <p>Brian A.</p>
          <p>Homeowner</p>
          <picture>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/stars.svg"
              alt="stars"
              width="91"
              height="15"
            />
          </picture>
        </div>
      </div>
    </div>
  </section>
  <CTA />
</BaseLayout>
