<section id="cta">
  <div class="flex flex-col">
    <h2 id="Get It Done">
      Get It Done
      <br />
      With Us Today
    </h2>
    <p>
      Say something catchy, informative, and encouraging to click the button to
      go to the contact page. I like to add these to the bottom of all pages.
    </p>
    <a href="/contact" class="button-gradient">Get an Estimate Now</a>
  </div>
</section>